body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f7fbff;
    color: #0f274f;
}

.sub-header {
    text-align: center;
    padding: 70px 20px;
    background: #eaf4ff;
}
.sub-header h1 {
    font-size: 38px;
    font-weight: 700;
}
.sub-header p {
    font-size: 17px;
    margin-top: 10px;
}

.subscription-form {
    width: 90%;
    max-width: 650px;
    margin: 40px auto;
    background: #fff;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0px 0px 20px rgba(140, 170, 220, 0.25);
}

.subscription-form h2 {
    font-size: 26px;
    margin-bottom: 10px;
}
.subscription-form p {
    font-size: 15px;
    color: #375888;
}

.check {
    display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}
.check input {
    margin-right: 12px;
    transform: scale(1.2);
}
.check span {
    font-size: 15px;
}

.email-box {
    margin-top: 25px;
}
.email-box input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #b7cae7;
    font-size: 15px;
}

.btn-submit {
    margin-top: 25px;
    width: 100%;
    padding: 15px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    background: #0066ff;
    color: #fff;
    cursor: pointer;
    transition: 0.23s;
}
.btn-submit:hover {
    background: #004ecc;
}

.form-msg {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
